:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
        font-feature-settings: "ss02" on;
    }
}

body {
    background-color: white;
    color: black;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-weight: normal;
}

.update-date {
    color: #777;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}